

.button{
    -fx-text-fill: "red";
    -fx-padding:8;
    -fx-spacing:10;
    -fx-background-color: "white";
    -fx-border-color:"red";
    -fx-border-radius: 90;
}

#gridPane{

    -fx-padding:4;
    -fx-spacing:50;

}

#borderTopLeft{

    -fx-spacing:50;

}

#statisticsPane{

    -fx-background-color: #616161;

}

#borderPane4{
    -fx-spacing: 20;

}